// fonts
$font-family: "Roboto", sans-serif;
$font-size: 22px;
// color
$primary-color: #a7bad1;
$secondary-color: #ffbcbc;
$animation-color: #ffc0cb;
$color-form-help: #888;
$border-color: #333;
// bacground-color
$background-color: #ffffff;
$background-color-footer: #f4f4f4;
$background-color-form: #a8bbd0;
$background-color-btn: #3498db;
$background-color-submit: #2980b9;
// breakpoints
$small-screen: 320px;
$medium-screen: 768px;
$large-screen: 1200px;
